body{
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
}
header ul{
    display: flex;
    justify-content: space-between;
}
 li {
    text-decoration: none;
    padding: 1vh;
    border-radius: 4px;
}
a{
    text-decoration: none;
}
main{
padding-top: 5vh;
padding-bottom: 4vh;
}

h1{
    font-size: 40px;
}
main ul{
    margin: 0vh 20vh;
}
button{
     border: 6px solid blueviolet;
     border-radius: 8px;
     background-color: blueviolet;
     color: white;
}
.hide{
    display: none;
}