:root {
  --main: blueviolet;
}
body {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
  background-image: url("./image/pink-sky.webp");
  background-size: cover;
}
header ul {
  display: flex;
  justify-content: space-between;
  color: var(--main);
  margin: -30px 30px;
}
li {
  text-decoration: none;
}
a {
  text-decoration: none;
}
main {
  padding: 25vh 7vh 4vh 7vh;
}

h1 {
  font-size: 40px;
  color: var(--main);
}
h2 {
  font-size: 30px;
  color: var(--main);
}
button {
  border: 2px solid white;
  border-radius: 8px;
  color: var(--main);
  margin: 3vh 1vh;
  padding: 5px;
}
button:hover {
  cursor: pointer;
}

input {
  background-color: rgba(137, 43, 226, 0.146);
  border-color: var(--main);
  color: var(--main);
}
ol {
  color: var(--main);
}
::placeholder {
  color: white;
}
.arcade {
  font-family: "VT323", monospace;
}
.arcade h1 {
  font-size: 8rem;
}

#restart-quiz {
  text-align: left;
  padding: 2vh;
}
.hide {
  display: none;
}
#correct {
  display: none;
}
#wrong {
  display: none;
}
#high-scores {
  padding-top: 18vh;
}
