:root {
  --main: blueviolet;
}
body {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
  background-image: url("./image/pink-sky.webp");
  background-size: cover;
}
header ul {
  display: flex;
  justify-content: space-between;
  color: var(--main);
}
li {
  text-decoration: none;
  padding: 1vh;
  border-radius: 4px;
}
a {
  text-decoration: none;
}
main {
  padding-top: 20vh;
  padding-bottom: 4vh;
}

h1 {
  font-size: 40px;
  color: var(--main);
}
h2 {
  font-size: 30px;
  color: var(--main);
}
button {
  border: 2px solid var(--main);
  border-radius: 8px;
  color: var(--main);
}
button:hover {
  cursor: pointer;
}
input {
  border-color: var(--main);
  color: rgb(50, 241, 187);
}
br {
  border: 2px solid var(--main);
}
.hide {
  display: none;
}
#correct {
  display: none;
}
#wrong {
  display: none;
}
#high-scores {
  padding-top: 18vh;
}
